* {
    margin: 0px;
    padding: 0px;
}


body {
    margin: 25px;
    font-family: 'Brush Script MT', sans-serif;
}

.h1-title {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 64px;
}

ul {
    padding-left: 64px;
    list-style-type: none;
}

ul li {
    padding-bottom: 14px;
    text-decoration: none;
}

/* further down we will and some style to recipe pages */

img {
    height: 250px;
    width: auto;
    margin-left: 48px;
}

.recipe-content {
    margin: 48px;
}

.description-content,
.ingredients-list,
.steps-list {
    padding-bottom: 24px;
}

.description-content h3,
.ingredients-list h3,
.steps-list h3 {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 14px;
}

.ingredients-list ul {
    list-style-type: circle;
}

.steps-list ol {
    padding-left: 64px;
}

.steps-list ol li {
    padding-bottom: 14px;
}










